.dashboard-container {
    text-align: center;
    padding: 50px;
  }
  
  .upload-box {
    margin-bottom: 20px;
  }
  
  .application-container {
    text-align: center;
    padding: 50px;
  }
  
  .application-container form {
    margin-top: 20px;
  }
  